
{% extends 'sendman/base.html' %}

{% load static %}

{% block title %}Templates{% endblock %}
{%  block content %}
    <br>
    <div>
        <a href="{%  url 'new_template' %}">
            <input type="submit" class="btn btn-success" value="Загрузить новый макет">
        </a>
    </div>
    <br>

    <div id="templates">
        {% for template in templates %}
            <div class="rcpt_list">
                <b>{{ template.created_at }}</b>
                <h4 color="green">{{ template }} </h4>
                <div>
                    <a href="{% url 'delete_template' template.pk %}" color="red">Удалить</a>
                </div>
            <br>
            </div>
        {%  endfor %}
    </div>
{% endblock %}