<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>МАКЕТ №4</h2><br>
    <p>Уважаемый(-ая) {{ subscriber }}, мы должны с сожалением Вам сообщить, что наша компания прекращает свою деятельность. </p>
    <p>
        Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        A et expedita minus quaerat quia quo unde.
        Aliquid cumque incidunt itaque, magni minus nostrum officiis.
        Dolorem facere maxime quam quo vero?
    </p>

</body>
</html>